.container {
  min-height: 89vh;
  font-family: 'Roboto', sans-serif;

  .add {

    width: 97%;




    .add-input {
      background: rgba(29, 36, 46, 0.08);
      border-radius: 30px;
      padding-bottom: 3rem;
      margin: 0 55px;

      .left {}

      .right {}

      .line {
        width: 84%;
        height: 1px;
        border-radius: 1rem;
        background-color: black;
        margin-left: 2rem;
        margin-top: -1px;
        padding: 0%;
      }

      .fill {
        width: 84%;
        height: 30px;
        border: none;
        background: rgba(29, 36, 46, 0);
        margin-top: 3%;
        margin-left: 2rem;
        outline: none;
        border: none;
        font-size: large;

      }

      .fill1 {
        width: 10%;
        height: 30px;
        border: none;
        background: rgba(29, 36, 46, 0);
        margin-top: 3%;
        margin-left: 11rem;
      }

      .col-textarea {
        width: 84%;
    height: 100px;
    margin-left: 6.4%;
    margin-top: 10px;
    border: none;
    outline: none;
      }
    }

    .upload {
      box-sizing: border-box;
      width: 80%;
      height: 89px;
      background: #D9D9D9;
      border: 1px dashed #000000;
      border-radius: 30px;
      align-items: center;
      text-align: center;
      margin-top: 1%;
      margin-left: 11%;
    }
    .add-btn{

      .btn-submit{

      }

      .btn-cancel{

      }
    }
  }
}
