<div class="container">
  <h1>Request Add Homestay Details</h1>
  <form>
    <div class="add">
      <div class="add-input row">
        <!-- Col Left  -->
        <div class="col left">
          <input type="text" class="fill" placeholder="Homestay's Name" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Address" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Check-in time" />
          <div class="line"></div>
          <input type="text" disabled class="fill" placeholder="Note" />
          <div class="line"></div>
          <textarea class="col-textarea"></textarea>
        </div>
        <!-- Col Right -->
        <div class="col right">
          <input type="text" class="fill" placeholder="Price (VND)" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Number of Room" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Check-out time" />
          <div class="line"></div>
          <input type="text" disabled class="fill" placeholder="Description" />
          <div class="line"></div>
          <textarea class="col-textarea"></textarea>
        </div>
      </div>

      <div class="upload" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
          <div>
            <i class="fas fa-cloud-upload-alt icon-upload"></i>
            <header>Drop files here or click to upload.</header>
          </div>
        </ngx-dropzone-label>

        <div class="wrapper" *ngFor="let f of files">
          <ngx-dropzone-image-preview class="image-preview" ngProjectAs="ngx-dropzone-preview"
            [file]="f" [removable]="true" (removed)="onRemove(f)">

          </ngx-dropzone-image-preview>
          <ngx-dropzone-label ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" (removed)="onRemove(f)">{{
            f.name }}</ngx-dropzone-label>

        </div>
      </div>

      <div class="add-btn">
        <button class="btn btn-submit" type="submit">Submit</button>
        <button class="btn btn-cancel" type="submit">Cancle</button>
      </div>
    </div>
  </form>
</div>
