<div class="container">
  <h1>Request Add Homestay Details</h1>
  <form>
    <div class="add">
      <div class="add-input row">
        <!-- Col Left  -->
        <div class="col left">
          <input type="text" class="fill" placeholder="Homestay's Name" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Address" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Check-in time" />
          <div class="line"></div>
          <input type="text" disabled class="fill" placeholder="Note" />
          <div class="line"></div>
          <textarea class="col-textarea"></textarea>
        </div>
        <!-- Col Right -->
        <div class="col right">
          <input type="text" class="fill" placeholder="Price (VND)" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Number of Room" />
          <div class="line"></div>
          <input type="text" class="fill" placeholder="Check-out time" />
          <div class="line"></div>
          <input type="text" disabled class="fill" placeholder="Description" />
          <div class="line"></div>
          <textarea class="col-textarea"></textarea>
        </div>
      </div>
      <div class="upload" >
        <div class="upload-file">
          
          <input #imageInput type="file" multiple accept="image/*" />
          <span>Upload Homestay's image</span>&nbsp;
        </div>
      </div>
      <div class="add-btn">
        <button class="btn btn-submit" type="submit">Submit</button> &nbsp;
        <button class="btn btn-cancel" type="submit">Cancle</button>
      </div>
    </div>
  </form>
</div>
