<div class="wrapper">

  <div class="body">
    <div class="body-container">
      <div class="row-avatar-infor">

        <div class="avatar">
          <img src="/assets/image/avatar.jpg" alt="avatar">
          <div class="balance">


            <aside id="info-block">
              <section class="file-marker">
                <div>
                  <div class="box-title">
                    Total Balance
                  </div>
                  <div class="box-contents">
                    <div id="cash">
                      <p>100.000.000</p>
                    </div>
                  </div>

                </div>

              </section>
            </aside>
            <div class="box-footer">
              <button class="btn-add" mat-raised-button><i class="fa-solid fa-arrow-right-to-bracket"></i> Add Balance</button>
              <button class="btn-out" mat-raised-button><i class="fa-solid fa-arrow-right-from-bracket"></i> Cash Out</button>
            </div>
          </div>

        </div>

        <div class="infor">
          <div class="col-left">
            <!-- Username -->
            <div class="fill">
              <div class="fill-text">
                <p>Username:</p>
              </div>
              <div class="fill-input">
                <p>Quang</p>
              </div>
            </div>
            <!-- Email -->
            <div class="fill">
              <div class="fill-text">
                <p>Email:</p>
              </div>
              <div class="fill-input">
                <p>Quangnp1712@gmail.com</p>
              </div>
            </div>

            <!-- Gender  -->
            <div class="fill">
              <div class="fill-text">
                <p>Gender:</p>
              </div>
              <div class="fill-input">
                <p>Male</p>
              </div>
            </div>
             <!-- Address -->
             <div class="fill">
              <div class="fill-text">
                <p>Address:</p>
              </div>
              <div class="fill-input">
                <p>123 Pham Van Dong p.1 Q.GV</p>
              </div>
            </div>


          </div>

          <div class="col-right">
            <!-- Dob  -->
            <div class="fill">
              <div class="fill-text">
                <p>Day of Birth:</p>
              </div>
              <div class="fill-input">
                <p>Quang</p>
              </div>
            </div>

            <!-- ID -->
            <div class="fill">
              <div class="fill-text">
                <p>Citizen ID:</p>
              </div>
              <div class="fill-input">
                <p>123456789JQK</p>
              </div>
            </div>
            <!-- Phone -->
            <div class="fill">
              <div class="fill-text">
                <p>Phone:</p>
              </div>
              <div class="fill-input">
                <p>0900000000</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="button">
        <button class="btn-denied" mat-raised-button>Denied</button>
        <button class="btn-accept" mat-raised-button>Accept</button>
      </div>
    </div>
  </div>



</div>
