<div class="body">
  <div class="row">
    <div class="image col">
      <img
        src="https://img.freepik.com/free-vector/reset-password-concept-illustration_114360-7886.jpg?t=st=1657718237~exp=1657718837~hmac=0bf8a5d8377f087038cf06655c664af2db33e32c77767d3e6342936cce2fcb13"
        alt="New Password"
      />
    </div>

    <div class="content col">
      <div class="text">
        <h1>Reset</h1>
        <h1>Password</h1>
      </div>
      <div class="content-input">
        <form action="">
          <div>
            <input type="text" placeholder="New Password" />
          </div>
          <div class="bottom-bar"></div>
          <div style="margin-top: 1.2rem;">
            <input type="text" placeholder="Comfirm Password" />
          </div>
          <div class="bottom-bar"></div>
          <div class="input-btn">
            <button type="submit" class="btn">Reset Password</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
