<div class="wrapper">
  <div class="container">
    <div class="container-fluid">
      <div class="header">
        <h1>Homestay</h1>
      </div>
      <div class="content">
        <div class="  header-content">
          <div class=" text">
            A quick add homestay
          </div>
          <div class="btn-register">
            <a mat-raised-button routerLink="RegisterHomestay">Register</a>
          </div>
        </div>
        <div class="row main-content">
          <div class="col-sm-4">
            <div class="card">
              <div class="image">
                <img src="" alt="">
              </div>
              <div class="name">
                Homestay 1
              </div>
              <div class="button">
                <a mat-raised-button color="warn" routerLink="DeleteHomestay">Delete</a>
                                <a mat-raised-button color="primary" routerLink="HomestayDetail">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
