<div class="wrapper">
  <div class="card card-homestay">
    <h1 class="header">Homestay Information </h1>
    <div class="homestay">
      <div class="infor">
        <div class="infor-row">
          <div class="infor-col">
            <!-- Landlord name -->
            <div class="fill">
              <div class="fill-text">
                <p>Landlord Name:</p>
              </div>
              <div class="fill-input">
                <p>Nguyen Phuong Quang </p>
              </div>
            </div>
            <!-- Homestay name -->
            <div class="fill">
              <div class="fill-text">
                <p>Homestay Name:</p>
              </div>
              <div class="fill-input">
                <p>Nguyen Phuong Quang Homestay</p>
              </div>
            </div>
            <!-- Price -->
            <div class="fill">
              <div class="fill-text">
                <p>Price:</p>
              </div>
              <div class="fill-input price">
                <p>1000</p>
              </div>
            </div>
            <!-- Check-in time -->
            <div class="fill">
              <div class="fill-text">
                <p>Check-in time:</p>
              </div>
              <div class="fill-input">
                <p>01:01 AM</p>
              </div>
            </div>
            <!-- Address -->
            <div class="fill">
              <div class="fill-text">
                <p>Address:</p>
              </div>
              <div class="fill-input-address">
                <p>123 Pham Van Dong q. Thu duc 123 Pham Van Dong q. Thu duc</p>
              </div>
            </div>
          </div>
          <div class="infor-col">
            <!-- email -->
            <div class="fill">
              <div class="fill-text">
                <p>Email:</p>
              </div>
              <div class="fill-input">
                <p>quang@gmail.com</p>
              </div>
            </div>
            <!-- Number of room -->
            <div class="fill">
              <div class="fill-text">
                <p>Number of room:</p>
              </div>
              <div class="fill-input">
                <p>1</p>
              </div>
            </div>
            <!-- Gender -->
            <div class="fill">
              <div class="fill-text">
                <p>City:</p>
              </div>
              <div class="fill-input">
                <p>TP.HCM</p>
              </div>
            </div>
            <!-- Check-out time -->
            <div class="fill">
              <div class="fill-text">
                <p>Check-out time:</p>
              </div>
              <div class="fill-input">
                <p>01:01 AM</p>
              </div>
            </div>
          </div>
        </div>
        <!-- description -->
        <div class="description">
          <div class="fill">
            <div class="fill-text">
              <p>Description:</p>
            </div>
            <div class="fill-input-address">
              <textarea readonly>123 Pham Van Dong q. Thu duc 123 Pham Van Dong q. Thu duc</textarea>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="card card-image">
    <h1 class="header">Image License</h1>
    <div class="image">
      <div class="image-file">
        <img src="/assets/image/1.jpg">
      </div>


    </div>
  </div>
  <div class="card card-image">
    <h1 class="header">Image Homstay</h1>
    <div class="image">
      <div class="image-file">
        <img src="/assets/image/1.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/2.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/3.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/4.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/4.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/4.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/4.jpg">
      </div>
      <div class="image-file">
        <img src="/assets/image/4.jpg">
      </div>

    </div>
  </div>

  <div class="card">
    <h1 class="header">Facility Information</h1>
    <div class="facility">
      <div class="infor">


        <div class="infor-col">

          <!-- number 1 -->
          <div class="fill">
            <!-- NO -->
            <div class="fill-text">
              <p>NO.</p>
              <p class="number">1</p>
            </div>
            <!-- Name -->
            <div class="fill-text">
              <p>Name:</p>
            </div>
            <div class="fill-input">
              <p>Nguyen Phuong Quang Homestay</p>
            </div>
            <div class="fill-text">
              <p>Icon.</p>
              <p class="number">1</p>
            </div>
            <div class="fill-text">
              <p>Amount.</p>
              <p class="number">1</p>
            </div>
          </div>

          <!-- number 2 -->
          <div class="fill">
            <!-- NO -->
            <div class="fill-text">
              <p>NO.</p>
              <p class="number">1</p>
            </div>
            <!-- Name -->
            <div class="fill-text">
              <p>Name:</p>
            </div>
            <div class="fill-input">
              <p>Nguyen Phuong Quang Homestay</p>
            </div>
            <div class="fill-text">
              <p>Icon.</p>
              <p class="number">1</p>
            </div>
            <div class="fill-text">
              <p>Amount.</p>
              <p class="number">1</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <h1 class="header">Service Information</h1>
    <div class="facility service">
      <div class="infor">


        <div class="infor-col">

          <!-- number 1 -->
          <div class="fill">
            <!-- NO -->
            <div class="fill-text">
              <p>NO.</p>
              <p class="number">1</p>
            </div>
            <!-- Name -->
            <div class="fill-text">
              <p>Name:</p>
            </div>
            <div class="fill-input">
              <p>Nguyen Phuong Quang Homestay</p>
            </div>
            <div class="fill-text">
              <p>Icon.</p>
              <p class="number">1</p>
            </div>
            <div class="fill-text">
              <p>Price.</p>
              <p class="number">1</p>
            </div>
          </div>

          <!-- number 2 -->
          <div class="fill">
            <!-- NO -->
            <div class="fill-text">
              <p>NO.</p>
              <p class="number">1</p>
            </div>
            <!-- Name -->
            <div class="fill-text">
              <p>Name:</p>
            </div>
            <div class="fill-input">
              <p>Nguyen Phuong Quang Homestay</p>
            </div>
            <div class="fill-text">
              <p>Icon.</p>
              <p class="number">1</p>
            </div>
            <div class="fill-text">
              <p>Price.</p>
              <p class="number">1</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <button class="btn-denied" mat-raised-button>Denied</button>
    <button class="btn-accept" mat-raised-button>Accept</button>
  </div>
</div>
