.wrapper {
  font-family: 'Roboto', sans-serif;
  .header {
    border: 1px black solid;
    max-width: 100vw;


  }



  .footer {
    border: 1px black solid;
    max-width: 100vw;


  }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
