<p>forget-password works!</p>
<form (ngSubmit)="getOtp()">
    <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Input Username">
    <button type="submit">Get OTP</button>
</form> <br/>
<form (ngSubmit)="inputOtp()">
    <input type="text" [(ngModel)]="otp" [ngModelOptions]="{standalone: true}" placeholder="Input OTP">
    <button type="submit">Send OTP</button>
</form><br/>
<form (ngSubmit)="inputPassword()">
    <input type="text" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="Input New Password">
    <button type="submit">Change</button>
</form>