<div class="body">
  <div class="row">
    <div class="image col">
      <img
        src="https://img.freepik.com/premium-vector/forgot-password-account-login-web-page-protection-security-key-access-system-smartphone-computer-flat-vector-illustration_2175-1401.jpg?"
        alt="Forgot password"
      />
    </div>

    <div class="content col">
      <div class="text">
        <h1>Forgot</h1>
        <h1>Your Password?</h1>
      </div>
      <div class="content-input">
        <form action="ForgetPasswordController" method="post" (ngSubmit)="inputUsername()" >
          <div>
            <input
              type="text"
              placeholder="Email or Username"
              (ngModel)="userName"
            />
          </div>
          <div class="bottom-bar"></div>
          <div class="input-btn">
            <button type="submit" class="btn">GET OTP</button>
          </div>
          <div class="login">
            <a href="" class="login-link">Back to signin</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
